

body{
   background: linear-gradient(to bottom, #87CEEB 0%, #89CFF0 10%, #B0E0E6 30%, #6495ED 50%, #4169E1 60%, #87CEEB 75%, #4682B4  100%);
}

h1{
    color:#333333;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px #888888;
}

p:hover{
    text-decoration: underline;
    color: black;
    border: 1px colid black;
}

a{
 color: black;
 text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

.box{
    box-shadow: 5px 5px,10px #888888;
    border-radius: 10px
}

.hover-image:hover{
    opacity: 0.5;
}
